body,*{
  margin:0;
  padding:0;
}



.mobileheader{
  display:flex;
  align-items: center;
  justify-content: center;
  height:50px;
  background-color: $secondaryColor;
  img{
   max-width:20%;
  }
}


.contentmobile{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height:100vh;
  text-align: center;
  background-color:#2f3843;
  padding-top:10px;
}

.landingSection{
  h1{
    color:$secondaryColor;
    text-transform: uppercase;
  }
  h2{
    color:$secondaryColor;
  }
  p{
  }
  width:50%;
  margin-top:10px;
  color:$secondaryColor;
  display:block;
  padding:20px;
  background-color: rgba(255,255,255,0.1);
}

@media screen and (max-width: 640px) {

  .landingSection{
    p{
      text-align: justify;
      font-size: 20px;
    }
    width:100%;
    margin-top:10px;
    color:$secondaryColor;
    display:block;
    padding:20px;
    background-color: rgba(255,255,255,0.1);
  }
}