{% extends '@IdleGame/Default/base.html.twig' %}
{% block content %}

    <div style="text-align: center">
    <h1>Oups, c'est une erreur</h1>
    <h2> "{{ status_code }} {{ status_text }}".</h2>

    <div>
        Something is broken. Please let us know what you were doing when this error occurred.
        We will fix it as soon as possible. Sorry for any inconvenience caused.
    </div>
    </div>

{% endblock %}