<div class="acheterSoldat buyButton" onclick="buyUnit(Unit01,showUnit01)">
    <span id="nbrUnit01" class="unitCount"></span>
    <span class="middleBuyButton">
                <span class="recrutement">Recruter 1 soldat</span>
                <span class="prixBlock">Prix <span id="prixUnit01" class="prix"></span>$</span>
            </span>
</div>
<div class="acheterSoldat2 buyButton" onclick="buyUnit(Unit02,showUnit02)">
    <span id="nbrUnit02" class="unitCount"></span>
    <span class="middleBuyButton">
                <span class="recrutement">Former 1 commando</span>
                <span class="prixBlock">Prix <span id="prixUnit02" class="prix"></span>$</span>
            </span>
</div>
<div class="acheterSoldat3 buyButton" onclick="buyUnit(Unit03,showUnit03)">
    <span id="nbrUnit03" class="unitCount"></span>
    <span class="middleBuyButton">
                <span class="recrutement">Créer 1 cyber-soldat</span>
                <span class="prixBlock">Prix <span id="prixUnit03" class="prix"></span>$</span>
            </span>
</div>

<div class="acheterTank01 buyButton" onclick="buyUnit(Unit04,showUnit04)">
    <span id="nbrUnit04" class="unitCount"></span>
    <span class="middleBuyButton">
                <span class="recrutement">Construire 1 tank</span>
                <span class="prixBlock">Prix <span id="prixUnit04" class="prix"></span>$</span>
            </span>
</div>

<div class="acheterMecha buyButton" onclick="buyUnit(Unit05,showUnit05)">
    <span id="nbrUnit05" class="unitCount"></span>
    <span class="middleBuyButton">
                <span class="recrutement">Construire 1 mecha</span>
                <span class="prixBlock">Prix <span id="prixUnit05" class="prix"></span>$</span>
            </span>
</div>

<div class="acheterMecha02 buyButton" onclick="buyUnit(Unit06,showUnit06)">
    <span id="nbrUnit06" class="unitCount"></span>
    <span class="middleBuyButton">
                <span class="recrutement">Construire 1 mecha</span>
                <span class="prixBlock">Prix <span id="prixUnit06" class="prix"></span>$</span>
            </span>
</div>


</div>