{% extends '@IdleGame/Default/baseback.html.twig' %}
{% block backcontent %}
    {% for player in allUsers %}
        <a class="backItemSection" href={{ path('game_idle_backoffice_player',{'id': player.id}) }}><div>{{ loop.index }}</div><div>{{ player }}</div></a>
    {% endfor %}
{% endblock %}