{% extends '@IdleGame/Default/base.html.twig' %}
{% block content %}
    <div class="contact">
    <p>Pour toutes suggestions d'idées ou signalement de bug veuillez vous rendre sur le forum.<br/>
    Pour toutes autres questions envoyez un mail à l'adresse suivante :
    </p>
    <h2>hugo.merias@lapiscine.pro</h2>
    </div>
{% endblock %}