{% extends '@IdleGame/Default/base.html.twig' %}
{% block content %}
<div class="forumContent">
    {{ form_start(formView) }}
    {{ form_widget(formView) }}
    {{ form_end(formView) }}
</div>
{% endblock %}