<div class="ennemyLabel">
    <h1 class="test">INVASION EN COURS</h1>
</div>
<div class="middleBlock">
    <h1 id="currentStage"></h1>
    Niveau <span id="levelBoss"></span>
    <div>Point de vie</div>
    <div id="lifebarContent" class="lifebarContent"><div id="bossLifePoint"></div>
        <div id="life" class="life"></div></div>

    <img src="" id="imgBoss" alt="">
</div>