{% extends '@IdleGame/Default/base.html.twig' %}
{% block content %}

    <div class="forumContent">
        <h2>Nouveau Sujet</h2>
        {{ form_start(formView) }}

        <div>
            {{ form_widget(formView.titreTopic,{'attr': {'onfocus':"this.value=''", 'value':'CLIQUEZ POUR CHOISIR LE TITRE DU SUJET'}})}}
        </div>

        {{ form_widget(formView.firstContentTopic) }}
        {{ form_end(formView) }}
    </div>

{% endblock %}